@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: "Raleway", sans-serif;
    color: black;
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*HEADER */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 22;
}

.header-hat {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
    border-bottom: 1px solid #BABBC5
}

/*NAVIGATION*/

.navigation-bar {
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.menu__item {
    margin-left: 50px;
    color: white;
}

.menu__item:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-style: solid;
}

.menu__item:first-child {
    margin-left: 0px;
}

/*FAVORITE*/ 
.favorite-section {
    background: url('../img/headerbg.jpg');
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.favorite {
    height: 747px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1-Favorite {
    font-size: 65px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.p-Favorite {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.18px;
    text-align: center;

}

/*FEATURES*/ 

.features__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features__item {
    padding: 0 20px;
    width: 33.3%;
    text-align: center;
    
}
.img_features {
    margin-bottom: 20px;
}

.features__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.18px;
    margin-bottom: 15px;
}

.features__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}


/*WORK*/ 

.works-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.works__item {
    position: relative;
    width: 25%;
    height: 350px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
}

.works__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(232, 69, 69, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.works__text {
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}


/*pg2*/

/* Carousel */

.carousel-section, .footer{
    max-width: 1511px;
    margin: 0 auto;
}

.carousel-slide{
    display: flex;
    justify-content: center;
}

.carousel-background{
    display: flex;
    background: #5C3249;
    align-items: center;
    justify-content: center;
    width: 51%;
}

.carousel-images{
    width: 49%;
}

.cite{
    font-family: Cardo;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 48.74px;
    color: #fff;
    width: 60%;
    text-transform: capitalize;
}

.cite-author{
    display: block;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.26px;
    text-transform: uppercase;
    margin-top: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-top: 31px;
}

.progress-dot{
    border: 1px solid #7E5D6F;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.active-dot, .progress-dot:hover{
    background: #7E5D6F;
}

.progress-dot:active{
    background: #5C3249;
}

/* download */

.download-section{
    display: flex;
    align-items: center;
    margin-top: 114px;
    margin-bottom: 114px;
}

.download-title{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.22px;
    text-align: center;
}

.download-description{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    margin-top: 10px;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background:#FF4343;
    padding: 18px 25px;
    margin-top: 47px;
}

.btn button:hover{
    background: #E71414;
}

.btn button:active{
    box-shadow: 4px 4px 30px 0px #FF4343;
    background: #FF4343;
}

/* footer */

.footer-content{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #353C65;
    height: 340px;
}

.footer-content .container{
    display: flex;
    flex-direction: row
}

.location-title , .social-title, .about-title{
    text-transform: uppercase;
}

.location,.social,.about{
    width: 35%;
}

.location-link{
    text-decoration: none;
    color: #fff;
}

.location-link:hover{
    color: rgba(255, 255, 255, 0.5);
}

.location-link, .about-description{
    display: inline-block;
    margin-top: 29px;
}

.about-description{
    width: 85%;
}


.social-icons{
    display: flex;
    margin-top: 49px;
    column-gap: 27px;
    justify-content: center;
}

.social-icons a:hover{
    background: rgba(255, 255, 255, 0.5);
}

.social-icons a:active{
    background: rgba(255, 255, 255, 0.5);
}

.copyright{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #2C3154;
}

.copyright span{
    color: rgba(255, 255, 255, 0.5);
}
